*.vtk
*.tar.gz
*.tar
*.mp4
data_processing/new_data/*
CloverLeaf_Serial/*.vtk
visualizations/*
old_data/*
new_data/*
data_processing/visualizations/103024_02.mp4
data_processing/visualizations/103124_03.mp4
data_processing/visualizations/state_evolution.mp4
data_processing/visualizations/512x512-1000-test.mp4
data_processing/visualizations/small_square_test.mp4
data_processing/visualizations/5x5-256x256-test_01.mp4
data_processing/visualizations/5x5-1_5x1_5-test_02.mp4
data_processing/visualizations/5x5-1x1-1500-test_03.mp4
data_processing/visualizations/5x5-1x1-512x512-1500-test_04-XY_vel.mp4


